<h1>Burgers</h1>

<h2>Ready to Eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <p>ID: {{this.id}}</p>
      <p>Burger: {{this.burger_name}}</p>
      <button id="eaten">Devour me!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>ID: {{this.id}}</p>
      <p>Burger: {{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="burg">Create Burger:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>